.navbar{
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    position:fixed ;
    width: 100%;
    background-position: center center;
    background-size: cover;
    z-index: 10000;
}
.search{
    background-color: #F0F2F5 ;
    padding: 2px 9px;
    width: 200px;
    input{
        background-color: transparent;
        border: none;
    }
}
 .middle .nav-link{
    color: darkgray !important;
}
.end .nav-link {
    color: #000 !important;
}
.router-link-active{
    i{
    color: #1B74E4;
    }
    border-bottom: 2px solid #1B74E4;
}