<nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container-fluid">
        <div class=" d-flex w-100 align-items-center">
          <!-- start -->
            <div class="d-flex align-items-center">
                <a class="navbar-brand me-1" href="#" >
                    <img src="../../assets/images/logo-facebook.png" alt="" class="img-fluid" width="45">
                </a>
                <div class="search input-group   d-lg-flex align-items-center d-none rounded-pill">
                <span  for="search"><i class="fas fa-search"></i></span>
                <input class="form-control" type="search" placeholder="Search Facebook"  id="search">
                </div>
                <div class="search w-50 p-2  d-block text-center d-lg-none rounded-circle">
                    <i class="fas fa-search"></i>
                    </div>
            </div>

            <!-- middle -->
            <div class=" middle ps-5 d-md-flex d-none mx-auto" id="navbarNav1">
                   <div class="align-items-center d-flex">
                    <a class="nav-link " aria-current="page" [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="fas fa-home fa-2x mx-lg-4"></i></a>
                    <a class="nav-link"><i class="fas fa-video fa-2x mx-lg-4"></i></a>
                    <a class="nav-link" ><i class="fas fa-users fa-2x mx-lg-4"></i></a>
                    <a class="nav-link "><i class="fas fa-gamepad fa-2x mx-lg-4"></i></a>
                   </div>
            </div>
          
        <!-- end -->
          <div class="end d-flex ms-auto" id="navbarNav2">
            <div class="align-items-center d-flex">
                  <a class="nav-link py-0 d-lg-block d-none" >
                    <img src="../../assets/images/download.jpg" alt="" class="img-fluid rounded-circle me-3" width="50" style="height: 43px;"> 
                    <span class="fw-bold  text-dark">Hager</span>
                  </a>
                  <a class="nav-link">
                    <i class="fas fa-bars p-2 rounded-circle" style="font-size: 1.3rem; background:#F0F2F5;"></i>
                  </a>
                  <a class="nav-link" >
                    <i class="fab fa-facebook-messenger p-2 rounded-circle" style="font-size: 1.3rem; background:#F0F2F5;"></i>
                  </a>
                  <a class="nav-link ">
                    <i class="fas fa-bell p-2 rounded-circle" style="font-size: 1.3rem; background:#F0F2F5;"></i>
                  </a>
               
              </div>
          </div>
        </div>
    </div>
  </nav>
